body {
    color: deeppink;
    background-image: url("../images/anus.jpg");
    background-repeat: repeat;
}
.next {
    background-image: url(../images/right.png);
    position: fixed;
    top: 150px;
    height: 50px;
    width: 50px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: 50px;
    z-index: 100;
}
.previous {
    background-image: url(../images/left.png);
    position: fixed;
    top: 150px;
    height: 50px;
    width: 80px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: 50px;
    z-index: 100;
}
#pocemon-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.pocemon-item {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
        border-radius: 10px 50px 10px 50px;
}

#one-pocemon > div {
    height: 100%;
    border-radius: 10px 50px 10px 50px;
}

.kisdogok {
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
}

span {
    text-transform:capitalize;
}

#pocemon-container:empty, #one-pocemon:empty {
    background-image: url("../images/giphy.gif");
}

#one-pocemon {
    width: 200px;
    height: 200px;
    background-color: purple;
    text-align: center;   
    margin: 20px auto 20px auto;
    border-radius: 10px 50px 10px 50px;
    text-transform:capitalize;
}


.villogo, .pocemon-item:hover {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pocemon-item:hover {
    -webkit-animation-name: blinker2;
    -moz-animation-name: blinker2;     
    animation-name: blinker2;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-moz-keyframes blinker2 {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker2 {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker2 {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

.navbar {
    background-color: yellow;
}

#search {
    background-color: lightblue;
}
.form-control::-webkit-input-placeholder {
    color: lightskyblue;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: greenyellow;
    font-size: 30px;
    font-family: fantasy;
}


.normal-right {
  border-right: 20px solid  #a8a77a;
}
.fire-right {
  border-right: 20px solid  #ee8130;
}
.water-right {
  border-right: 20px solid  #6390f0;
}
.electric-right {
  border-right: 20px solid  #f7d02c;
}
.grass-right {
  border-right: 20px solid  #7ac74c;
}
.ice-right {
  border-right: 20px solid  #96d9d6;
}
.fighting-right {
  border-right: 20px solid  #c22e28;
}
.poison-right {
  border-right: 20px solid  #a33ea1;
}
.ground-right {
  border-right: 20px solid  #e2bf65;
}
.flying-right {
  border-right: 20px solid  #a98ff3;
}
.psychic-right {
  border-right: 20px solid  #f95587;
}
.bug-right {
  border-right: 20px solid  #a6b91a;
}
.rock-right {
  border-right: 20px solid  #b6a136;
}
.ghost-right {
  border-right: 20px solid  #735797;
}
.dragon-right {
  border-right: 20px solid  #6f35fc;
}
.dark-right {
  border-right: 20px solid  #705746;
}
.steel-right {
  border-right: 20px solid  #b7b7ce;
}
.fairy-right {
  border-right: 20px solid  #d685ad;
}



.normal-left {
  border-left: 20px solid  #a8a77a;
}
.fire-left {
  border-left: 20px solid  #ee8130;
}
.water-left {
  border-left: 20px solid  #6390f0;
}
.electric-left {
  border-left: 20px solid  #f7d02c;
}
.grass-left {
  border-left: 20px solid  #7ac74c;
}
.ice-left {
  border-left: 20px solid  #96d9d6;
}
.fighting-left {
  border-left: 20px solid  #c22e28;
}
.poison-left {
  border-left: 20px solid  #a33ea1;
}
.ground-left {
  border-left: 20px solid  #e2bf65;
}
.flying-left {
  border-left: 20px solid  #a98ff3;
}
.psychic-left {
  border-left: 20px solid  #f95587;
}
.bug-left {
  border-left: 20px solid  #a6b91a;
}
.rock-left {
  border-left: 20px solid  #b6a136;
}
.ghost-left {
  border-left: 20px solid  #735797;
}
.dragon-left {
  border-left: 20px solid  #6f35fc;
}
.dark-left {
  border-left: 20px solid  #705746;
}
.steel-left {
  border-left: 20px solid  #b7b7ce;
}
.fairy-left {
  border-left: 20px solid  #d685ad;
}